
# NPM
node_modules

# backup data
/src/server/data/*
!/src/server/data/.gitkeep

# panel configs
/config/panels/*.json
!/config/panels/.gitkeep

# global config
/config/global/*.json
!/config/global/.gitkeep

# module dockerfiles
Dockerfile*
!/src/server/Dockerfile
!/src/server/Dockerfile.dev
!/src/server/services/dockerfile-write.js

# global environment files
.env
.env.development
.env.test
.env.production

# client
src/client/.pnp
src/client/dist/*
.pnp.js

# testing
src/client/coverage
src/server/routes/logs

# client production build
/src/client/build/*
/src/client/dist/*
!/src/client/build/.gitkeep

# storybook static files
docs/assets/storybook
src/client/storybook-static

# misc
._*
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# docs
docs/_data/sidebar.yml
docs/pages/modules
docs/pages/modules/**
docs/_data
docs/_site
docs/_site/**
docs/.jekyll-cache
docs/.jekyll-cache/**

# script outputs
/src/client/src/utils/muiIconMap.js