networks:
    bug:
        name: bug
        driver: bridge

services:
    app:
        container_name: bug
        build:
            context: .
            dockerfile: ./src/server/Dockerfile
        restart: unless-stopped
        user: root
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - .:/home/node/bug
            - /home/node/bug/node_modules
        environment:
            MODULE_PORT: 3200
            MODULE_HOME: /home/node/module
            MONGO_CONTAINER: bug-mongo
            DOCKER_NETWORK_NAME: bug
            BUG_CONTAINER: bug
            CLEANUP: 2
            BUG_PORT: 3101
            BUG_HOST: "127.0.0.1"
            BUG_LOG_FOLDER: logs
            BUG_LOG_NAME: bug
            PORT: 3000
            NODE_ENV: development
            SESSION_SECRET: aSecretForYourSessions
        working_dir: /home/node/bug
        depends_on:
            - mongo
        networks:
            - bug
        ports:
            - 3000:3000
            - 3101:3101
        command: npm run dev
        logging:
            driver: "json-file"
            options:
                max-size: "10m"
                max-file: "1"

    mongo:
        image: mongo:latest
        restart: unless-stopped
        container_name: bug-mongo
        networks:
            - bug
        ports:
            - 27017:27017
        logging:
            driver: "json-file"
            options:
                max-size: "10m"
                max-file: "1"
