Package: bbcnews-bug
Version: 3.0.0.__datestamp__
Architecture: all
Maintainer: Geoff House <geoff.house@bbc.co.uk>
Depends: 
Conflicts:
Recommends:
Section: web
Priority: optional
Installed-Size: 1000
Description: BBC BUG - Broadcast Universal GUI
 Installer for BBC NEWS' BUG engine
