$color-scheme: dark;
$body-background-color: #181818;
$body-heading-color: #e0e0e0;
$body-text-color: #e0e0e0;
$link-color: #3378b6;
$nav-child-link-color: #337ab7;
$sidebar-color: #262626;
$base-button-color: #3378b6;
$btn-primary-color: #337ab7;
$code-background-color: #262626;
$code-linenumber-color: #dee2f7;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: #262626;
$search-background-color: #262626;
$search-result-preview-color: #e0e0e0;
$border-color: #262626;

html p,
html li {
    font-size: 14px !important;
}
$body-font-family: "Roboto", sans-serif;

html body h1 {
    font-size: 32px !important;
    font-weight: 500;
}

html body h2 {
    font-size: 22px !important;
    font-weight: 300;
}

div.highlighter-rouge div.highlight {
    border-width: 0 !important;
}

code {
    color: #a0a0a0;
}
