---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #163550;
    background-image: none;
}

.main-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #337ab7;
    }
}
