name: BUG Deploy
env:
    registry: "ghcr.io"

on:
    workflow_run:
        workflows: ["Version Bump"]
        types:
            - completed
    workflow_dispatch:

permissions:
    contents: read
    packages: write

jobs:
    docker:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./src/server

        steps:
            # checkout the repository at the latest commit
            - name: checkout repository
              uses: actions/checkout@v6

            # setup node
            - name: Setup node
              uses: actions/setup-node@v3
              with:
                  node-version: 20
                  cache: npm

            # install dependencies
            - name: Install dependencies
              run: npm ci

            # set build timestamp
            - name: Set build timestamp
              run: echo "timestamp=$(date +'%Y-%m-%dT%H:%M:%S')" >> $GITHUB_ENV

            # get backend version
            - name: Get backend version
              id: backend-version
              uses: martinbeentjes/npm-get-version-action@v1.1.0
              with:
                  path: ./

            # get frontend version
            - name: Get frontend version
              id: frontend-version
              uses: martinbeentjes/npm-get-version-action@v1.1.0
              with:
                  path: ./src/client

            # print current versions
            - name: Print current versions
              run: |
                  echo "backend version: ${{ steps.backend-version.outputs.current-version }}"
                  echo "frontend version: ${{ steps.frontend-version.outputs.current-version }}"

            # setup qemu for multi-platform builds
            - name: Set up qemu
              uses: docker/setup-qemu-action@v3

            # setup docker buildx
            - name: Set up docker buildx
              id: buildx
              uses: docker/setup-buildx-action@v3
              with:
                  buildkitd-flags: --debug

            # login to ghcr
            - name: Login to ghcr
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.registry }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
                  logout: false

            # define a single release tag based on backend version
            - name: Set release tag
              id: release
              run: |
                  echo "release_tag=v${{ steps.backend-version.outputs.current-version }}" >> $GITHUB_ENV

            # build and push backend image
            - name: Build and push backend image
              uses: docker/build-push-action@v6
              with:
                  context: "."
                  file: ./src/server/Dockerfile
                  platforms: linux/amd64
                  push: true
                  tags: |
                      ${{ env.registry }}/${{ github.repository_owner }}/bug-backend:${{ env.release_tag }}
                      ${{ env.registry }}/${{ github.repository_owner }}/bug-backend:latest
                  labels: |
                      author=${{ github.actor }}
                      version=${{ env.release_tag }}
                      org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}
                      uk.co.bbc.bug.build.timestamp=${{ env.timestamp }}
                      uk.co.bbc.bug.build.number=${{ github.run_number }}
                      uk.co.bbc.bug.build.commit=${{ github.sha }}

            # build and push frontend image
            - name: Build and push frontend image
              uses: docker/build-push-action@v6
              with:
                  context: ./src/client
                  file: ./src/client/Dockerfile
                  platforms: linux/amd64
                  push: true
                  tags: |
                      ${{ env.registry }}/${{ github.repository_owner }}/bug-frontend:${{ env.release_tag }}
                      ${{ env.registry }}/${{ github.repository_owner }}/bug-frontend:latest
                  labels: |
                      author=${{ github.actor }}
                      version=${{ env.release_tag }}
                      org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}
                      uk.co.bbc.bug.build.timestamp=${{ env.timestamp }}
                      uk.co.bbc.bug.build.number=${{ github.run_number }}
                      uk.co.bbc.bug.build.commit=${{ github.sha }}
