# .github/workflows/frontend.yml
name: BUG Frontend
permissions:
    contents: read
on:
    push:
        branches:
            - "**"
        paths-ignore:
            - "**/README.md"
            - "docs/**"
    pull_request:
        branches:
            - "main"
        paths-ignore:
            - "**/README.md"
            - "docs/**"

jobs:
    frontend:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [22]
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              name: Frontend Build & Test using Node.js ${{ matrix.node-version }}
              with:
                  node-version: ${{ matrix.node-version }}
            - run: npm ci
            - run: cd src/client && npm test
            - run: cd src/client && npm run build --if-present