name: Version Bump

on:
    push:
        branches:
            - main
permissions:
    actions: write
    checks: write
    deployments: write
    pull-requests: write
    statuses: write
jobs:
    version:
        runs-on: ubuntu-latest
        steps:
            - name: "Cleanup Build folder"
              run: |
                  ls -la ./
                  rm -rf ./* || true
                  rm -rf ./.??* || true
                  ls -la ./
            #Get the latest version of the repository
            - name: Checkout
              uses: actions/checkout@v3
            #Bump the backend version
            - name: "Backend: Automated Version Bump"
              uses: "phips28/gh-action-bump-version@master"
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  PACKAGEJSON_DIR: "src"
              with:
                  commit-message: "CI: bumps backend version to {{version}}"
                  skip-tag: "true"
                  skip-push: "true"
                  target-branch: "main"
                  minor-wording: "Minor:"
                  major-wording: "Major:"
                  rc-wording: "RELEASE,alpha"
                  tag-prefix: "v"
            #Bump the frontend version
            - name: "Frontend: Automated Version Bump"
              uses: "phips28/gh-action-bump-version@master"
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  PACKAGEJSON_DIR: "src/client"
              with:
                  bump-policy: "ignore"
                  commit-message: "CI: bumps frontend version to {{version}}"
                  target-branch: "main"
                  minor-wording: "Minor:"
                  major-wording: "Major:"
                  rc-wording: "RELEASE,alpha"
                  tag-prefix: "v"
