name: Version Bump

on:
    push:
        branches:
            - main
        paths:
            - "src/server/**"
            - "src/client/**"
            - "src/modules/**"
    workflow_dispatch:

permissions:
    contents: write
    pull-requests: write

jobs:
    version:
        runs-on: ubuntu-latest
        steps:
            # checkout code first
            - name: checkout repository
              uses: actions/checkout@v6

            # setup node
            - name: setup node
              uses: actions/setup-node@v3
              with:
                  node-version: 20
                  cache: npm

            # install dependencies
            - name: install dependencies
              run: npm ci

            # update module versions and changelogs
            - name: update module versions and changelogs
              run: node scripts/updateModules.js

            # backend version bump
            - name: "backend: automated version bump"
              uses: phips28/gh-action-bump-version@master
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  PACKAGEJSON_DIR: "/"
              with:
                  commit-message: "CI: bumps backend version to {{version}}"
                  skip-tag: "true"
                  skip-push: "false"
                  target-branch: "main"
                  minor-wording: "Minor:"
                  major-wording: "Major:"
                  rc-wording: "RELEASE,alpha"
                  tag-prefix: "v"

            # frontend version bump
            - name: "frontend: automated version bump"
              uses: phips28/gh-action-bump-version@master
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  PACKAGEJSON_DIR: "/src/client"
              with:
                  commit-message: "CI: bumps frontend version to {{version}}"
                  skip-tag: "true"
                  skip-push: "false"
                  target-branch: "main"
                  minor-wording: "Minor:"
                  major-wording: "Major:"
                  rc-wording: "RELEASE,alpha"
                  tag-prefix: "v"
                  bump-policy: "auto"
